* {
  color: #404040;
}

body {
  background-color: #f9f7f1;
  div {
    background: #fff url(https://subtlepatterns.com/patterns/lightpaperfibers.png);
  }
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
  border-top: 1px solid #404040;


  article {
    border-right: 1px solid #404040;
    padding: 10px;
    width: 17.5%;
    height: min-content;
    cursor: pointer;
    h3 {
      margin: 0;
    }
    header {
      color: #404040,
    }
  }

  @media only all and (max-width: 1200px) {
    article {
      width: 31%;
    }
  }
  @media only all and (max-width: 900px) {
    article {
      width: 47%;
    }
  }
  @media only all and (max-width: 600px) {
    article {
      width: 100%;
    }
  }
}
