@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
  color: #404040;
}

a {
  color: #404040;
}

body {
  background-color: #f9f7f1;
  div {
    background: #fff
      url(https://subtlepatterns.com/patterns/lightpaperfibers.png);
  }
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;

  position: relative;
  z-index: 1;
  background-color: #f5f5f5;
  color: #404040;

  :before {
    content: "";
    position: absolute;
    right: 45px;
    top: 0;
    height: 2px;
    width: 90%;
    border-top: 5px solid #404040;
  }

  article {
    border-right: 2px solid #404040;
    margin: 10px;
    width: 17.5%;
    height: min-content;
    display: flex;
    cursor: pointer;
    h3 {
      margin: 0;
      font-family: 'Lobster', cursive;
      font-weight: 300;
    }
    header {
      padding: 12px;
      border-bottom: 2px solid #404040;
      color: #404040;
    }
  }

  @media only all and (max-width: 1200px) {
    article {
      width: 31%;
    }
  }
  @media only all and (max-width: 900px) {
    :before {
      right: 0;
      top: 0;
      height: 2px;
      width: 100%;
      border-top: 5px solid #404040;
    }

    article {
      width: 47%;
    }
  }
  @media only all and (max-width: 600px) {
    article {
      width: 100%;
    }
  }
}
