.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;

  article {
    border-right: 1px solid #000;
    width: 17.5%;
    height: min-content;
    h3 {
      margin: 0;
      color: #000;
    }
  }

  @media only all and (max-width: 600px) {
    article {
      width: 100%;
    }
  }
  @media only all and (max-width: 900px) {
    article {
      width: 47%;
    }
  }
  @media only all and (max-width: 1200px) {
    article {
      width: 31%;
    }
  }
}
