$primary-color: #243040;
$light-color: #fff8ed;
$newspaper-bg: url(https://subtlepatterns.com/patterns/lightpaperfibers.png);

.main-title {
  position: relative;
  z-index: 1;
  color: $primary-color;
  background-color: $light-color;

  :before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    height: 5px;
    width: 70%;
    border-bottom: 5px solid $primary-color;
  }
  a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: 900;

    .title {
      font-size: 70px;
    }
  }

  @media only all and (max-width: 1200px) {
    a {
      .title {
        font-size: 60px;
      }
    }
  }
  @media only all and (max-width: 900px) {
    :before {
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      border-bottom: 5px solid $primary-color;
    }
    a {
      .title {
        font-size: 50px;
      }
    }
  }
  @media only all and (max-width: 600px) {
    a {
      .title {
        font-size: 40px;
      }
    }
  }
}

footer {
  border-top: 8px double $primary-color;
  width: 100%;
  margin-top: 54px;
  padding: 18px 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background: $primary-color;
}

*::-webkit-scrollbar-track {
  background: $light-color;
}

*::-webkit-scrollbar-button {
  background: $primary-color;
  height: 4px;
}

::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
