.main-title {
  a {
    display: flex;
    border: 1px solid;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: 900;

    .author-name {
      font-size: 24px;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      flex-direction: column;

      span {
        padding: 0;
      }
    }

    .title {
      font-size: 70px;
    }

    @media only all and (max-width: 1200px) {
      .title {
        font-size: 60px;
      }
    }
    @media only all and (max-width: 900px) {
      .title {
        font-size: 50px;
      }
    }
    @media only all and (max-width: 600px) {
      .title {
        font-size: 40px;
      }
    }
  }
}
